body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 20px;
}

.row.top.fixed {
	background: black;
	color: white;
}

	.row.top.fixed a {
		color: inherit;
	}

.inner {
	max-width: 1400px;
	width: 100%;
	margin: auto;
}

.doc-content {
	max-width: 760px;
	margin: auto;
	/*margin-right: 320px;*/
	/*max-width: 780px;*/
	padding-top: 50px;
}

	.doc-content:not(:empty) {
		margin-bottom: 100%;
	}

	.doc-content:empty:after {
		content: "Please wait, loading content.";
	}


nav.path {
	position: fixed;
	max-width: 760px;
	margin:auto;
	left: 0;
	right:0;
	top: 45px;
	background: white;
	line-height: 44px;
	display: block;
	overflow:hidden;
	max-height:50px;
}

	nav.path a {
		font-weight: 300;
		color: inherit;
	}


div[class^="mc-sidebar"] {
	position: fixed;
	top: 50px;
	bottom: 0;
	margin: auto;
	width: 300px;
	/*background:rgba(255,0,0,0.5);*/
	overflow:auto;
}

.mc-sidebar-left {
	left: 0;
	right: 1100px;
}

.mc-sidebar-right {
	left: 1100px;
	right: 0;
}

#index {
	/*position: absolute;
	right: 0;
	width: 25%;*/
}

.mc-menu ul {
	list-style: none;
	padding-left: 0px;
	margin: 0;
	overflow: auto;
}
.mc-menu ul:empty {
	display:none;
}

.mc-menu a {
	font-family: "Segoe UI Light", "Segoe WP", sans-serif, Tahoma, Arial;
	/*font-size: 10pt;*/
	line-height: 30px;
	color: #999;
	display: block;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-left: solid 1px transparent;
}

.mc-menu > ul > li > a {
	margin: 5px 0;
}

.mc-menu li > a {
	padding-left: 10px;
}

.mc-menu li > ul > li > a {
	padding-left: 20px;
}

.mc-menu li > ul > li > ul > li > a {
	padding-left: 30px;
}

.mc-menu li > ul > li > ul > li > ul > li > a {
	padding-left: 40px;
}

.mc-menu li > ul > li > ul > li > ul > li > ul > li > a {
	padding-left: 50px;
}

.mc-menu a[open='1'],
.mc-menu a[selected] {
	color: black;
	border-left: solid 1px black;
}

.mc-menu a[open='0'] + ul {
	display: none;
}

.mc-menu a:hover {
	border-left: solid 1px #999;
	color: #666;
	cursor: pointer;
}


td {
	vertical-align: top;
}

#responsepanel:not(:empty) {
	position: fixed;
	margin: auto;
	background: rgba(0,0,0,0.3);
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border: solid 1px #ccc;
	padding: 10px;
	overflow: auto;
	z-index: 10;
}

#responsepanel > div {
	position: absolute;
	margin: auto;
	background: white;
	border: solid 1px #ccc;
	max-width: 1200px;
	left: 2cm;
	right: 2cm;
	top: 1cm;
	bottom: 1cm;
	box-shadow: 0px 0px 10px grey;
}

	#responsepanel > div > div {
		padding: 10px;
	}

#responsepanel pre {
	background: #eee;
	padding: 10px;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}


.panel {
	border: solid 1px #ccc;
	padding: 10px;
}


.tabControl pre {
	background: #eee;
	padding: 10px;
	border: solid 1px #ccc;
	overflow: auto;
}

.tabControl ul {
	padding: 0;
	list-style: none;
}

	.tabControl ul > li {
	}

	.tabControl ul > :not(:first-child) {
		display: none;
	}

.tabControl nav > span {
	padding: 10px;
	cursor: pointer;
	border-top: solid 1px transparent;
	border-left: solid 1px transparent;
	border-right: solid 1px transparent;
}

	.tabControl nav > span[selected] {
		border-color: #ccc;
	}

button {
	background-color: dodgerblue;
	color: white;
	border: none;
	padding: 10px;
}

td.label {
	width: 150px;
}

.code {
	font-family: monospace;
	white-space: pre;
	tab-size: 2;
	background-color: lightcyan;
}

code {
	font-family: monospace;
	border: solid 1px #ccc;
	padding: 10px;
	background-color: lightcyan;
	overflow: auto;
	display: block;
	white-space: pre;
	tab-size: 2;
	margin:10px 0;
}

.row.reverse {
	flex-direction: row-reverse;
	justify-content: flex-end;
}

	.row.reverse a:not(:last-child)::before {
		content: ".";
		text-decoration: none !important;
	}

h1, h2, h3, h4, h5, h6 {
	z-index:-1;
	margin-top: -70px;
	padding-top: 90px;
	/*padding-bottom:10px;*/
}
/*h1>a:before,h2>a:before,h3>a:before,h4>a:before {
	content:"";
	padding-top:180px;
	margin-top:-180px;
}*/

/*.offsetAbove::before {
	content: "";
	display: inline-block;
	height: 80px;
	margin: -80px 0 0;
}*/
.pre {
	white-space: pre;
}


.ac-header {
	font-family: "Segoe UI Light", "Segoe WP", sans-serif, Tahoma, Arial;
}

.statusbar {
	position: fixed;
	margin: auto;
	bottom: 0;
	left: 0;
}
button:disabled {
	opacity:0.5;
}