{"swagger":"2.0","info":{"version":"1.0.0","title":"Aliconnect Content Server","description":"Server","termsOfService":"https://aliconnect.nl/terms/","contact":{"name":"Aliconnect API Team","email":"support@aliconnect.nl","url":"https://aliconnect.nl"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0.html"}},"externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"host":"aliconnect.nl","basePath":"/api","schemes":["http","https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/account":{"get":{"description":"Returns all Accounts from the system that the user has access to","operationId":"findAccount","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"account response","schema":{"type":"array","items":{"$ref":"#/definitions/Account"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Account.","operationId":"addaccount","produces":["application/json"],"parameters":[{"name":"account","in":"body","description":"account to add to the store","required":true,"schema":{"$ref":"#/definitions/Account"}}],"responses":{"200":{"description":"account response","schema":{"$ref":"#/definitions/Account"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/account/{id}":{"get":{"description":"Returns a account based on a single ID, if the user does not have access to the account","operationId":"findAccountById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of account to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"account response","schema":{"$ref":"#/definitions/Account"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a account based on a single ID, if the user does not have access to the account","operationId":"updateAccountById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of account to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"account response","schema":{"$ref":"#/definitions/Account"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single account based on the ID supplied","operationId":"deleteAccount","parameters":[{"name":"id","in":"path","description":"ID of account to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"account deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/host":{"get":{"description":"Returns all Hosts from the system that the user has access to","operationId":"findHost","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"host response","schema":{"type":"array","items":{"$ref":"#/definitions/Host"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Host.","operationId":"addhost","produces":["application/json"],"parameters":[{"name":"host","in":"body","description":"host to add to the store","required":true,"schema":{"$ref":"#/definitions/Host"}}],"responses":{"200":{"description":"host response","schema":{"$ref":"#/definitions/Host"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/host/{id}":{"get":{"description":"Returns a host based on a single ID, if the user does not have access to the host","operationId":"findHostById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of host to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"host response","schema":{"$ref":"#/definitions/Host"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a host based on a single ID, if the user does not have access to the host","operationId":"updateHostById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of host to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"host response","schema":{"$ref":"#/definitions/Host"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single host based on the ID supplied","operationId":"deleteHost","parameters":[{"name":"id","in":"path","description":"ID of host to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"host deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/company":{"get":{"description":"Returns all Companys from the system that the user has access to","operationId":"findCompany","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"company response","schema":{"type":"array","items":{"$ref":"#/definitions/Company"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Company.","operationId":"addcompany","produces":["application/json"],"parameters":[{"name":"company","in":"body","description":"company to add to the store","required":true,"schema":{"$ref":"#/definitions/Company"}}],"responses":{"200":{"description":"company response","schema":{"$ref":"#/definitions/Company"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/company/{id}":{"get":{"description":"Returns a company based on a single ID, if the user does not have access to the company","operationId":"findCompanyById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of company to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"company response","schema":{"$ref":"#/definitions/Company"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a company based on a single ID, if the user does not have access to the company","operationId":"updateCompanyById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of company to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"company response","schema":{"$ref":"#/definitions/Company"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single company based on the ID supplied","operationId":"deleteCompany","parameters":[{"name":"id","in":"path","description":"ID of company to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"company deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/domain":{"get":{"description":"Returns all Domains from the system that the user has access to","operationId":"findDomain","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"domain response","schema":{"type":"array","items":{"$ref":"#/definitions/Domain"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Domain.","operationId":"adddomain","produces":["application/json"],"parameters":[{"name":"domain","in":"body","description":"domain to add to the store","required":true,"schema":{"$ref":"#/definitions/Domain"}}],"responses":{"200":{"description":"domain response","schema":{"$ref":"#/definitions/Domain"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/domain/{id}":{"get":{"description":"Returns a domain based on a single ID, if the user does not have access to the domain","operationId":"findDomainById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of domain to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"domain response","schema":{"$ref":"#/definitions/Domain"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a domain based on a single ID, if the user does not have access to the domain","operationId":"updateDomainById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of domain to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"domain response","schema":{"$ref":"#/definitions/Domain"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single domain based on the ID supplied","operationId":"deleteDomain","parameters":[{"name":"id","in":"path","description":"ID of domain to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"domain deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/contact":{"get":{"description":"Returns all Contacts from the system that the user has access to","operationId":"findContact","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"contact response","schema":{"type":"array","items":{"$ref":"#/definitions/Contact"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Contact.","operationId":"addcontact","produces":["application/json"],"parameters":[{"name":"contact","in":"body","description":"contact to add to the store","required":true,"schema":{"$ref":"#/definitions/Contact"}}],"responses":{"200":{"description":"contact response","schema":{"$ref":"#/definitions/Contact"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/contact/{id}":{"get":{"description":"Returns a contact based on a single ID, if the user does not have access to the contact","operationId":"findContactById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of contact to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"contact response","schema":{"$ref":"#/definitions/Contact"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a contact based on a single ID, if the user does not have access to the contact","operationId":"updateContactById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of contact to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"contact response","schema":{"$ref":"#/definitions/Contact"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single contact based on the ID supplied","operationId":"deleteContact","parameters":[{"name":"id","in":"path","description":"ID of contact to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"contact deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/msecontact":{"get":{"description":"Returns all MseContacts from the system that the user has access to","operationId":"findMseContact","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"msecontact response","schema":{"type":"array","items":{"$ref":"#/definitions/MseContact"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new MseContact.","operationId":"addmsecontact","produces":["application/json"],"parameters":[{"name":"msecontact","in":"body","description":"msecontact to add to the store","required":true,"schema":{"$ref":"#/definitions/MseContact"}}],"responses":{"200":{"description":"msecontact response","schema":{"$ref":"#/definitions/MseContact"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/msecontact/{id}":{"get":{"description":"Returns a msecontact based on a single ID, if the user does not have access to the msecontact","operationId":"findMseContactById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of msecontact to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"msecontact response","schema":{"$ref":"#/definitions/MseContact"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a msecontact based on a single ID, if the user does not have access to the msecontact","operationId":"updateMseContactById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of msecontact to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"msecontact response","schema":{"$ref":"#/definitions/MseContact"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single msecontact based on the ID supplied","operationId":"deleteMseContact","parameters":[{"name":"id","in":"path","description":"ID of msecontact to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"msecontact deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/department":{"get":{"description":"Returns all Departments from the system that the user has access to","operationId":"findDepartment","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"department response","schema":{"type":"array","items":{"$ref":"#/definitions/Department"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Department.","operationId":"adddepartment","produces":["application/json"],"parameters":[{"name":"department","in":"body","description":"department to add to the store","required":true,"schema":{"$ref":"#/definitions/Department"}}],"responses":{"200":{"description":"department response","schema":{"$ref":"#/definitions/Department"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/department/{id}":{"get":{"description":"Returns a department based on a single ID, if the user does not have access to the department","operationId":"findDepartmentById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of department to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"department response","schema":{"$ref":"#/definitions/Department"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a department based on a single ID, if the user does not have access to the department","operationId":"updateDepartmentById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of department to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"department response","schema":{"$ref":"#/definitions/Department"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single department based on the ID supplied","operationId":"deleteDepartment","parameters":[{"name":"id","in":"path","description":"ID of department to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"department deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/website":{"get":{"description":"Returns all WebSites from the system that the user has access to","operationId":"findWebSite","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"website response","schema":{"type":"array","items":{"$ref":"#/definitions/WebSite"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new WebSite.","operationId":"addwebsite","produces":["application/json"],"parameters":[{"name":"website","in":"body","description":"website to add to the store","required":true,"schema":{"$ref":"#/definitions/WebSite"}}],"responses":{"200":{"description":"website response","schema":{"$ref":"#/definitions/WebSite"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/website/{id}":{"get":{"description":"Returns a website based on a single ID, if the user does not have access to the website","operationId":"findWebSiteById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of website to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"website response","schema":{"$ref":"#/definitions/WebSite"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a website based on a single ID, if the user does not have access to the website","operationId":"updateWebSiteById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of website to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"website response","schema":{"$ref":"#/definitions/WebSite"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single website based on the ID supplied","operationId":"deleteWebSite","parameters":[{"name":"id","in":"path","description":"ID of website to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"website deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/webpage":{"get":{"description":"Returns all WebPages from the system that the user has access to","operationId":"findWebPage","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"webpage response","schema":{"type":"array","items":{"$ref":"#/definitions/WebPage"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new WebPage.","operationId":"addwebpage","produces":["application/json"],"parameters":[{"name":"webpage","in":"body","description":"webpage to add to the store","required":true,"schema":{"$ref":"#/definitions/WebPage"}}],"responses":{"200":{"description":"webpage response","schema":{"$ref":"#/definitions/WebPage"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/webpage/{id}":{"get":{"description":"Returns a webpage based on a single ID, if the user does not have access to the webpage","operationId":"findWebPageById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of webpage to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"webpage response","schema":{"$ref":"#/definitions/WebPage"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a webpage based on a single ID, if the user does not have access to the webpage","operationId":"updateWebPageById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of webpage to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"webpage response","schema":{"$ref":"#/definitions/WebPage"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single webpage based on the ID supplied","operationId":"deleteWebPage","parameters":[{"name":"id","in":"path","description":"ID of webpage to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"webpage deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/chapter":{"get":{"description":"Returns all Chapters from the system that the user has access to","operationId":"findChapter","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"chapter response","schema":{"type":"array","items":{"$ref":"#/definitions/Chapter"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Chapter.","operationId":"addchapter","produces":["application/json"],"parameters":[{"name":"chapter","in":"body","description":"chapter to add to the store","required":true,"schema":{"$ref":"#/definitions/Chapter"}}],"responses":{"200":{"description":"chapter response","schema":{"$ref":"#/definitions/Chapter"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/chapter/{id}":{"get":{"description":"Returns a chapter based on a single ID, if the user does not have access to the chapter","operationId":"findChapterById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of chapter to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"chapter response","schema":{"$ref":"#/definitions/Chapter"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a chapter based on a single ID, if the user does not have access to the chapter","operationId":"updateChapterById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of chapter to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"chapter response","schema":{"$ref":"#/definitions/Chapter"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single chapter based on the ID supplied","operationId":"deleteChapter","parameters":[{"name":"id","in":"path","description":"ID of chapter to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"chapter deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/interncontact":{"get":{"description":"Returns all InternContacts from the system that the user has access to","operationId":"findInternContact","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"interncontact response","schema":{"type":"array","items":{"$ref":"#/definitions/InternContact"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new InternContact.","operationId":"addinterncontact","produces":["application/json"],"parameters":[{"name":"interncontact","in":"body","description":"interncontact to add to the store","required":true,"schema":{"$ref":"#/definitions/InternContact"}}],"responses":{"200":{"description":"interncontact response","schema":{"$ref":"#/definitions/InternContact"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/interncontact/{id}":{"get":{"description":"Returns a interncontact based on a single ID, if the user does not have access to the interncontact","operationId":"findInternContactById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of interncontact to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"interncontact response","schema":{"$ref":"#/definitions/InternContact"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a interncontact based on a single ID, if the user does not have access to the interncontact","operationId":"updateInternContactById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of interncontact to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"interncontact response","schema":{"$ref":"#/definitions/InternContact"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single interncontact based on the ID supplied","operationId":"deleteInternContact","parameters":[{"name":"id","in":"path","description":"ID of interncontact to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"interncontact deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/customer":{"get":{"description":"Returns all Customers from the system that the user has access to","operationId":"findCustomer","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"customer response","schema":{"type":"array","items":{"$ref":"#/definitions/Customer"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Customer.","operationId":"addcustomer","produces":["application/json"],"parameters":[{"name":"customer","in":"body","description":"customer to add to the store","required":true,"schema":{"$ref":"#/definitions/Customer"}}],"responses":{"200":{"description":"customer response","schema":{"$ref":"#/definitions/Customer"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/customer/{id}":{"get":{"description":"Returns a customer based on a single ID, if the user does not have access to the customer","operationId":"findCustomerById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of customer to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"customer response","schema":{"$ref":"#/definitions/Customer"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a customer based on a single ID, if the user does not have access to the customer","operationId":"updateCustomerById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of customer to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"customer response","schema":{"$ref":"#/definitions/Customer"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single customer based on the ID supplied","operationId":"deleteCustomer","parameters":[{"name":"id","in":"path","description":"ID of customer to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"customer deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/supplier":{"get":{"description":"Returns all Suppliers from the system that the user has access to","operationId":"findSupplier","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"supplier response","schema":{"type":"array","items":{"$ref":"#/definitions/Supplier"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Supplier.","operationId":"addsupplier","produces":["application/json"],"parameters":[{"name":"supplier","in":"body","description":"supplier to add to the store","required":true,"schema":{"$ref":"#/definitions/Supplier"}}],"responses":{"200":{"description":"supplier response","schema":{"$ref":"#/definitions/Supplier"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/supplier/{id}":{"get":{"description":"Returns a supplier based on a single ID, if the user does not have access to the supplier","operationId":"findSupplierById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of supplier to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"supplier response","schema":{"$ref":"#/definitions/Supplier"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a supplier based on a single ID, if the user does not have access to the supplier","operationId":"updateSupplierById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of supplier to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"supplier response","schema":{"$ref":"#/definitions/Supplier"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single supplier based on the ID supplied","operationId":"deleteSupplier","parameters":[{"name":"id","in":"path","description":"ID of supplier to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"supplier deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/groups":{"get":{"description":"Returns all Groupss from the system that the user has access to","operationId":"findGroups","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"groups response","schema":{"type":"array","items":{"$ref":"#/definitions/Groups"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Groups.","operationId":"addgroups","produces":["application/json"],"parameters":[{"name":"groups","in":"body","description":"groups to add to the store","required":true,"schema":{"$ref":"#/definitions/Groups"}}],"responses":{"200":{"description":"groups response","schema":{"$ref":"#/definitions/Groups"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/groups/{id}":{"get":{"description":"Returns a groups based on a single ID, if the user does not have access to the groups","operationId":"findGroupsById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of groups to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"groups response","schema":{"$ref":"#/definitions/Groups"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a groups based on a single ID, if the user does not have access to the groups","operationId":"updateGroupsById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of groups to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"groups response","schema":{"$ref":"#/definitions/Groups"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single groups based on the ID supplied","operationId":"deleteGroups","parameters":[{"name":"id","in":"path","description":"ID of groups to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"groups deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/storage":{"get":{"description":"Returns all Storages from the system that the user has access to","operationId":"findStorage","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"storage response","schema":{"type":"array","items":{"$ref":"#/definitions/Storage"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Storage.","operationId":"addstorage","produces":["application/json"],"parameters":[{"name":"storage","in":"body","description":"storage to add to the store","required":true,"schema":{"$ref":"#/definitions/Storage"}}],"responses":{"200":{"description":"storage response","schema":{"$ref":"#/definitions/Storage"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/storage/{id}":{"get":{"description":"Returns a storage based on a single ID, if the user does not have access to the storage","operationId":"findStorageById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of storage to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"storage response","schema":{"$ref":"#/definitions/Storage"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a storage based on a single ID, if the user does not have access to the storage","operationId":"updateStorageById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of storage to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"storage response","schema":{"$ref":"#/definitions/Storage"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single storage based on the ID supplied","operationId":"deleteStorage","parameters":[{"name":"id","in":"path","description":"ID of storage to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"storage deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/product":{"get":{"description":"Returns all Products from the system that the user has access to","operationId":"findProduct","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"product response","schema":{"type":"array","items":{"$ref":"#/definitions/Product"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Product.","operationId":"addproduct","produces":["application/json"],"parameters":[{"name":"product","in":"body","description":"product to add to the store","required":true,"schema":{"$ref":"#/definitions/Product"}}],"responses":{"200":{"description":"product response","schema":{"$ref":"#/definitions/Product"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/product/{id}":{"get":{"description":"Returns a product based on a single ID, if the user does not have access to the product","operationId":"findProductById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of product to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"product response","schema":{"$ref":"#/definitions/Product"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a product based on a single ID, if the user does not have access to the product","operationId":"updateProductById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of product to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"product response","schema":{"$ref":"#/definitions/Product"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single product based on the ID supplied","operationId":"deleteProduct","parameters":[{"name":"id","in":"path","description":"ID of product to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"product deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/email":{"get":{"description":"Returns all Emails from the system that the user has access to","operationId":"findEmail","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"email response","schema":{"type":"array","items":{"$ref":"#/definitions/Email"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Email.","operationId":"addemail","produces":["application/json"],"parameters":[{"name":"email","in":"body","description":"email to add to the store","required":true,"schema":{"$ref":"#/definitions/Email"}}],"responses":{"200":{"description":"email response","schema":{"$ref":"#/definitions/Email"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/email/{id}":{"get":{"description":"Returns a email based on a single ID, if the user does not have access to the email","operationId":"findEmailById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of email to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"email response","schema":{"$ref":"#/definitions/Email"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a email based on a single ID, if the user does not have access to the email","operationId":"updateEmailById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of email to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"email response","schema":{"$ref":"#/definitions/Email"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single email based on the ID supplied","operationId":"deleteEmail","parameters":[{"name":"id","in":"path","description":"ID of email to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"email deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/map":{"get":{"description":"Returns all Maps from the system that the user has access to","operationId":"findMap","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"map response","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Map.","operationId":"addmap","produces":["application/json"],"parameters":[{"name":"map","in":"body","description":"map to add to the store","required":true,"schema":{"$ref":"#/definitions/Map"}}],"responses":{"200":{"description":"map response","schema":{"$ref":"#/definitions/Map"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/map/{id}":{"get":{"description":"Returns a map based on a single ID, if the user does not have access to the map","operationId":"findMapById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of map to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"map response","schema":{"$ref":"#/definitions/Map"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a map based on a single ID, if the user does not have access to the map","operationId":"updateMapById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of map to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"map response","schema":{"$ref":"#/definitions/Map"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single map based on the ID supplied","operationId":"deleteMap","parameters":[{"name":"id","in":"path","description":"ID of map to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"map deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/shape":{"get":{"description":"Returns all Shapes from the system that the user has access to","operationId":"findShape","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"shape response","schema":{"type":"array","items":{"$ref":"#/definitions/Shape"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Shape.","operationId":"addshape","produces":["application/json"],"parameters":[{"name":"shape","in":"body","description":"shape to add to the store","required":true,"schema":{"$ref":"#/definitions/Shape"}}],"responses":{"200":{"description":"shape response","schema":{"$ref":"#/definitions/Shape"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/shape/{id}":{"get":{"description":"Returns a shape based on a single ID, if the user does not have access to the shape","operationId":"findShapeById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of shape to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"shape response","schema":{"$ref":"#/definitions/Shape"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a shape based on a single ID, if the user does not have access to the shape","operationId":"updateShapeById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of shape to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"shape response","schema":{"$ref":"#/definitions/Shape"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single shape based on the ID supplied","operationId":"deleteShape","parameters":[{"name":"id","in":"path","description":"ID of shape to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"shape deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/geo":{"get":{"description":"Returns all Geos from the system that the user has access to","operationId":"findGeo","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"geo response","schema":{"type":"array","items":{"$ref":"#/definitions/Geo"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Geo.","operationId":"addgeo","produces":["application/json"],"parameters":[{"name":"geo","in":"body","description":"geo to add to the store","required":true,"schema":{"$ref":"#/definitions/Geo"}}],"responses":{"200":{"description":"geo response","schema":{"$ref":"#/definitions/Geo"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/geo/{id}":{"get":{"description":"Returns a geo based on a single ID, if the user does not have access to the geo","operationId":"findGeoById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of geo to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"geo response","schema":{"$ref":"#/definitions/Geo"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a geo based on a single ID, if the user does not have access to the geo","operationId":"updateGeoById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of geo to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"geo response","schema":{"$ref":"#/definitions/Geo"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single geo based on the ID supplied","operationId":"deleteGeo","parameters":[{"name":"id","in":"path","description":"ID of geo to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"geo deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/document":{"get":{"description":"Returns all Documents from the system that the user has access to","operationId":"findDocument","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"document response","schema":{"type":"array","items":{"$ref":"#/definitions/Document"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Document.","operationId":"adddocument","produces":["application/json"],"parameters":[{"name":"document","in":"body","description":"document to add to the store","required":true,"schema":{"$ref":"#/definitions/Document"}}],"responses":{"200":{"description":"document response","schema":{"$ref":"#/definitions/Document"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/document/{id}":{"get":{"description":"Returns a document based on a single ID, if the user does not have access to the document","operationId":"findDocumentById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of document to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"document response","schema":{"$ref":"#/definitions/Document"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a document based on a single ID, if the user does not have access to the document","operationId":"updateDocumentById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of document to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"document response","schema":{"$ref":"#/definitions/Document"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single document based on the ID supplied","operationId":"deleteDocument","parameters":[{"name":"id","in":"path","description":"ID of document to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"document deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/task":{"get":{"description":"Returns all Tasks from the system that the user has access to","operationId":"findTask","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"task response","schema":{"type":"array","items":{"$ref":"#/definitions/Task"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Task.","operationId":"addtask","produces":["application/json"],"parameters":[{"name":"task","in":"body","description":"task to add to the store","required":true,"schema":{"$ref":"#/definitions/Task"}}],"responses":{"200":{"description":"task response","schema":{"$ref":"#/definitions/Task"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/task/{id}":{"get":{"description":"Returns a task based on a single ID, if the user does not have access to the task","operationId":"findTaskById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of task to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"task response","schema":{"$ref":"#/definitions/Task"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a task based on a single ID, if the user does not have access to the task","operationId":"updateTaskById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of task to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"task response","schema":{"$ref":"#/definitions/Task"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single task based on the ID supplied","operationId":"deleteTask","parameters":[{"name":"id","in":"path","description":"ID of task to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"task deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/abbreviation":{"get":{"description":"Returns all Abbreviations from the system that the user has access to","operationId":"findAbbreviation","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"abbreviation response","schema":{"type":"array","items":{"$ref":"#/definitions/Abbreviation"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Abbreviation.","operationId":"addabbreviation","produces":["application/json"],"parameters":[{"name":"abbreviation","in":"body","description":"abbreviation to add to the store","required":true,"schema":{"$ref":"#/definitions/Abbreviation"}}],"responses":{"200":{"description":"abbreviation response","schema":{"$ref":"#/definitions/Abbreviation"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/abbreviation/{id}":{"get":{"description":"Returns a abbreviation based on a single ID, if the user does not have access to the abbreviation","operationId":"findAbbreviationById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of abbreviation to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"abbreviation response","schema":{"$ref":"#/definitions/Abbreviation"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a abbreviation based on a single ID, if the user does not have access to the abbreviation","operationId":"updateAbbreviationById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of abbreviation to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"abbreviation response","schema":{"$ref":"#/definitions/Abbreviation"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single abbreviation based on the ID supplied","operationId":"deleteAbbreviation","parameters":[{"name":"id","in":"path","description":"ID of abbreviation to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"abbreviation deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/systemfunction":{"get":{"description":"Returns all SystemFunctions from the system that the user has access to","operationId":"findSystemFunction","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"systemfunction response","schema":{"type":"array","items":{"$ref":"#/definitions/SystemFunction"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new SystemFunction.","operationId":"addsystemfunction","produces":["application/json"],"parameters":[{"name":"systemfunction","in":"body","description":"systemfunction to add to the store","required":true,"schema":{"$ref":"#/definitions/SystemFunction"}}],"responses":{"200":{"description":"systemfunction response","schema":{"$ref":"#/definitions/SystemFunction"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/systemfunction/{id}":{"get":{"description":"Returns a systemfunction based on a single ID, if the user does not have access to the systemfunction","operationId":"findSystemFunctionById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of systemfunction to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"systemfunction response","schema":{"$ref":"#/definitions/SystemFunction"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a systemfunction based on a single ID, if the user does not have access to the systemfunction","operationId":"updateSystemFunctionById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of systemfunction to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"systemfunction response","schema":{"$ref":"#/definitions/SystemFunction"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single systemfunction based on the ID supplied","operationId":"deleteSystemFunction","parameters":[{"name":"id","in":"path","description":"ID of systemfunction to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"systemfunction deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/verwerkers overeenkomst verantwoordelijke":{"get":{"description":"Returns all Verwerkers overeenkomst verantwoordelijkes from the system that the user has access to","operationId":"findVerwerkers overeenkomst verantwoordelijke","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"verwerkers overeenkomst verantwoordelijke response","schema":{"type":"array","items":{"$ref":"#/definitions/Verwerkers overeenkomst verantwoordelijke"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Verwerkers overeenkomst verantwoordelijke.","operationId":"addverwerkers overeenkomst verantwoordelijke","produces":["application/json"],"parameters":[{"name":"verwerkers overeenkomst verantwoordelijke","in":"body","description":"verwerkers overeenkomst verantwoordelijke to add to the store","required":true,"schema":{"$ref":"#/definitions/Verwerkers overeenkomst verantwoordelijke"}}],"responses":{"200":{"description":"verwerkers overeenkomst verantwoordelijke response","schema":{"$ref":"#/definitions/Verwerkers overeenkomst verantwoordelijke"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/verwerkers overeenkomst verantwoordelijke/{id}":{"get":{"description":"Returns a verwerkers overeenkomst verantwoordelijke based on a single ID, if the user does not have access to the verwerkers overeenkomst verantwoordelijke","operationId":"findVerwerkers overeenkomst verantwoordelijkeById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of verwerkers overeenkomst verantwoordelijke to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"verwerkers overeenkomst verantwoordelijke response","schema":{"$ref":"#/definitions/Verwerkers overeenkomst verantwoordelijke"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a verwerkers overeenkomst verantwoordelijke based on a single ID, if the user does not have access to the verwerkers overeenkomst verantwoordelijke","operationId":"updateVerwerkers overeenkomst verantwoordelijkeById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of verwerkers overeenkomst verantwoordelijke to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"verwerkers overeenkomst verantwoordelijke response","schema":{"$ref":"#/definitions/Verwerkers overeenkomst verantwoordelijke"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single verwerkers overeenkomst verantwoordelijke based on the ID supplied","operationId":"deleteVerwerkers overeenkomst verantwoordelijke","parameters":[{"name":"id","in":"path","description":"ID of verwerkers overeenkomst verantwoordelijke to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"verwerkers overeenkomst verantwoordelijke deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/verwerkers overeenkomst verwerker":{"get":{"description":"Returns all Verwerkers overeenkomst verwerkers from the system that the user has access to","operationId":"findVerwerkers overeenkomst verwerker","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"verwerkers overeenkomst verwerker response","schema":{"type":"array","items":{"$ref":"#/definitions/Verwerkers overeenkomst verwerker"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Verwerkers overeenkomst verwerker.","operationId":"addverwerkers overeenkomst verwerker","produces":["application/json"],"parameters":[{"name":"verwerkers overeenkomst verwerker","in":"body","description":"verwerkers overeenkomst verwerker to add to the store","required":true,"schema":{"$ref":"#/definitions/Verwerkers overeenkomst verwerker"}}],"responses":{"200":{"description":"verwerkers overeenkomst verwerker response","schema":{"$ref":"#/definitions/Verwerkers overeenkomst verwerker"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/verwerkers overeenkomst verwerker/{id}":{"get":{"description":"Returns a verwerkers overeenkomst verwerker based on a single ID, if the user does not have access to the verwerkers overeenkomst verwerker","operationId":"findVerwerkers overeenkomst verwerkerById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of verwerkers overeenkomst verwerker to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"verwerkers overeenkomst verwerker response","schema":{"$ref":"#/definitions/Verwerkers overeenkomst verwerker"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a verwerkers overeenkomst verwerker based on a single ID, if the user does not have access to the verwerkers overeenkomst verwerker","operationId":"updateVerwerkers overeenkomst verwerkerById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of verwerkers overeenkomst verwerker to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"verwerkers overeenkomst verwerker response","schema":{"$ref":"#/definitions/Verwerkers overeenkomst verwerker"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single verwerkers overeenkomst verwerker based on the ID supplied","operationId":"deleteVerwerkers overeenkomst verwerker","parameters":[{"name":"id","in":"path","description":"ID of verwerkers overeenkomst verwerker to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"verwerkers overeenkomst verwerker deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/ewr":{"get":{"description":"Returns all EWRs from the system that the user has access to","operationId":"findEWR","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"ewr response","schema":{"type":"array","items":{"$ref":"#/definitions/EWR"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new EWR.","operationId":"addewr","produces":["application/json"],"parameters":[{"name":"ewr","in":"body","description":"ewr to add to the store","required":true,"schema":{"$ref":"#/definitions/EWR"}}],"responses":{"200":{"description":"ewr response","schema":{"$ref":"#/definitions/EWR"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/ewr/{id}":{"get":{"description":"Returns a ewr based on a single ID, if the user does not have access to the ewr","operationId":"findEWRById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of ewr to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"ewr response","schema":{"$ref":"#/definitions/EWR"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a ewr based on a single ID, if the user does not have access to the ewr","operationId":"updateEWRById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of ewr to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"ewr response","schema":{"$ref":"#/definitions/EWR"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single ewr based on the ID supplied","operationId":"deleteEWR","parameters":[{"name":"id","in":"path","description":"ID of ewr to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"ewr deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/csp":{"get":{"description":"Returns all CSPs from the system that the user has access to","operationId":"findCSP","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"csp response","schema":{"type":"array","items":{"$ref":"#/definitions/CSP"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new CSP.","operationId":"addcsp","produces":["application/json"],"parameters":[{"name":"csp","in":"body","description":"csp to add to the store","required":true,"schema":{"$ref":"#/definitions/CSP"}}],"responses":{"200":{"description":"csp response","schema":{"$ref":"#/definitions/CSP"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/csp/{id}":{"get":{"description":"Returns a csp based on a single ID, if the user does not have access to the csp","operationId":"findCSPById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of csp to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"csp response","schema":{"$ref":"#/definitions/CSP"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a csp based on a single ID, if the user does not have access to the csp","operationId":"updateCSPById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of csp to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"csp response","schema":{"$ref":"#/definitions/CSP"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single csp based on the ID supplied","operationId":"deleteCSP","parameters":[{"name":"id","in":"path","description":"ID of csp to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"csp deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/qroc":{"get":{"description":"Returns all QROCs from the system that the user has access to","operationId":"findQROC","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"qroc response","schema":{"type":"array","items":{"$ref":"#/definitions/QROC"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new QROC.","operationId":"addqroc","produces":["application/json"],"parameters":[{"name":"qroc","in":"body","description":"qroc to add to the store","required":true,"schema":{"$ref":"#/definitions/QROC"}}],"responses":{"200":{"description":"qroc response","schema":{"$ref":"#/definitions/QROC"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/qroc/{id}":{"get":{"description":"Returns a qroc based on a single ID, if the user does not have access to the qroc","operationId":"findQROCById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of qroc to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"qroc response","schema":{"$ref":"#/definitions/QROC"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a qroc based on a single ID, if the user does not have access to the qroc","operationId":"updateQROCById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of qroc to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"qroc response","schema":{"$ref":"#/definitions/QROC"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single qroc based on the ID supplied","operationId":"deleteQROC","parameters":[{"name":"id","in":"path","description":"ID of qroc to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"qroc deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/pwa":{"get":{"description":"Returns all PWAs from the system that the user has access to","operationId":"findPWA","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"pwa response","schema":{"type":"array","items":{"$ref":"#/definitions/PWA"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new PWA.","operationId":"addpwa","produces":["application/json"],"parameters":[{"name":"pwa","in":"body","description":"pwa to add to the store","required":true,"schema":{"$ref":"#/definitions/PWA"}}],"responses":{"200":{"description":"pwa response","schema":{"$ref":"#/definitions/PWA"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/pwa/{id}":{"get":{"description":"Returns a pwa based on a single ID, if the user does not have access to the pwa","operationId":"findPWAById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of pwa to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"pwa response","schema":{"$ref":"#/definitions/PWA"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a pwa based on a single ID, if the user does not have access to the pwa","operationId":"updatePWAById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of pwa to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"pwa response","schema":{"$ref":"#/definitions/PWA"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single pwa based on the ID supplied","operationId":"deletePWA","parameters":[{"name":"id","in":"path","description":"ID of pwa to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"pwa deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/todo":{"get":{"description":"Returns all TODOs from the system that the user has access to","operationId":"findTODO","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"todo response","schema":{"type":"array","items":{"$ref":"#/definitions/TODO"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new TODO.","operationId":"addtodo","produces":["application/json"],"parameters":[{"name":"todo","in":"body","description":"todo to add to the store","required":true,"schema":{"$ref":"#/definitions/TODO"}}],"responses":{"200":{"description":"todo response","schema":{"$ref":"#/definitions/TODO"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/todo/{id}":{"get":{"description":"Returns a todo based on a single ID, if the user does not have access to the todo","operationId":"findTODOById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of todo to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"todo response","schema":{"$ref":"#/definitions/TODO"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a todo based on a single ID, if the user does not have access to the todo","operationId":"updateTODOById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of todo to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"todo response","schema":{"$ref":"#/definitions/TODO"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single todo based on the ID supplied","operationId":"deleteTODO","parameters":[{"name":"id","in":"path","description":"ID of todo to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"todo deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/wiki":{"get":{"description":"Returns all Wikis from the system that the user has access to","operationId":"findWiki","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"wiki response","schema":{"type":"array","items":{"$ref":"#/definitions/Wiki"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new Wiki.","operationId":"addwiki","produces":["application/json"],"parameters":[{"name":"wiki","in":"body","description":"wiki to add to the store","required":true,"schema":{"$ref":"#/definitions/Wiki"}}],"responses":{"200":{"description":"wiki response","schema":{"$ref":"#/definitions/Wiki"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/wiki/{id}":{"get":{"description":"Returns a wiki based on a single ID, if the user does not have access to the wiki","operationId":"findWikiById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of wiki to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"wiki response","schema":{"$ref":"#/definitions/Wiki"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a wiki based on a single ID, if the user does not have access to the wiki","operationId":"updateWikiById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of wiki to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"wiki response","schema":{"$ref":"#/definitions/Wiki"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single wiki based on the ID supplied","operationId":"deleteWiki","parameters":[{"name":"id","in":"path","description":"ID of wiki to delete","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"wiki deleted"},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/system":{"get":{"description":"Returns all Systems from the system that the user has access to","operationId":"findSystem","externalDocs":{"description":"find more info here","url":"https://aliconnect.nl/about"},"produces":["application/json","text/html"],"parameters":[{"name":"q","in":"query","description":"search value to filter by","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"tags","in":"query","description":"tags to search","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"filter","in":"query","description":"clauses to filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"limit","in":"query","description":"maximum number of results to return","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"system response","schema":{"type":"array","items":{"$ref":"#/definitions/System"}}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Creates a new System.","operationId":"addsystem","produces":["application/json"],"parameters":[{"name":"system","in":"body","description":"system to add to the store","required":true,"schema":{"$ref":"#/definitions/System"}}],"responses":{"200":{"description":"system response","schema":{"$ref":"#/definitions/System"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}}},"/system/{id}":{"get":{"description":"Returns a system based on a single ID, if the user does not have access to the system","operationId":"findSystemById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of system to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"system response","schema":{"$ref":"#/definitions/System"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"post":{"description":"Returns a system based on a single ID, if the user does not have access to the system","operationId":"updateSystemById","produces":["application/json","application/xml","text/xml","text/html"],"parameters":[{"name":"id","in":"path","description":"ID of system to fetch","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"system response","schema":{"$ref":"#/definitions/System"}},"default":{"description":"unexpected error","schema":{"$ref":"#/definitions/ErrorModel"}}}},"delete":{"description":"deletes a single system based on the ID supplied","operationId":"deleteSystem","parameters":[{"name":"id","in":"path","description":"ID of system to delete","required":true,"type":"integer","format":"in
[...]
