<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="auth" stopProcessing="true">
					<match url="^(auth)(.*)" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/aim/v1/app/auth{R:2}" appendQueryString="true" />
				</rule>
				<rule name="v_api" stopProcessing="true">
					<match url="([a-zA-Z0-9.]+)/(v[a-zA-Z0-9.]+)/api/(.*)" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/aim/{R:2}/api/index.php" appendQueryString="true" />
				</rule>
				<rule name="api" stopProcessing="true">
					<match url="([a-zA-Z0-9.]+)/api/(.*)|^api/(.*)" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/aim/v1/api/index.php" appendQueryString="true" />
				</rule>
				<rule name="v_app" stopProcessing="true">
					<match url="([a-zA-Z0-9.]+)/(v[a-zA-Z0-9.]+)/(app|lib|auth)/(.*)" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/aim/{R:2}/{R:3}/{R:4}" appendQueryString="true" />
				</rule>
				<rule name="app" stopProcessing="true">
					<match url="(app|lib|auth)/(.*)" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/aim/v1/{R:1}/{R:2}" appendQueryString="true" />
				</rule>
				<rule name="all" stopProcessing="true">
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/aim/v1/api/site.php" appendQueryString="true" />
				</rule>
				<rule name="blockSecrets" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions>
						<add input="{URL}" pattern="*config.json" />
					</conditions>
					<action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
				</rule>
			</rules>
		</rewrite>
		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="400" subStatusCode="-1" />
			<error statusCode="400" responseMode="ExecuteURL" path="/aim/v1/api/err.php" />
			<remove statusCode="401" subStatusCode="-1" />
			<error statusCode="401" responseMode="ExecuteURL" path="/aim/v1/api/err.php" />
			<remove statusCode="403" subStatusCode="-1" />
			<error statusCode="403" responseMode="ExecuteURL" path="/aim/v1/api/index.php?err=403" />
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" responseMode="ExecuteURL" path="/aim/v1/api/err.php" />
			<remove statusCode="500" subStatusCode="-1" />
			<error statusCode="500" responseMode="ExecuteURL" path="/aim/v1/api/err.php" />
			<remove statusCode="503" subStatusCode="-1" />
			<error statusCode="503" responseMode="ExecuteURL" path="/aim/v1/api/err.php" />
			<remove statusCode="508" subStatusCode="-1" />
			<error statusCode="508" responseMode="ExecuteURL" path="/aim/v1/api/err.php" />
			<remove statusCode="511" subStatusCode="-1" />
			<error statusCode="511" responseMode="ExecuteURL" path="/aim/v1/api/err.php" />
		</httpErrors>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="4294967295" />
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Methods" value="GET,HEAD,POST,PUT,DELETE,OPTIONS" />
				<add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
				<add name="Access-Control-Allow-Credentials" value="true" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<location path="aim/fonts">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<add name="Access-Control-Allow-Origin" value="*" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	<location path="aim/v1/lib/css/fonts">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<add name="Access-Control-Allow-Origin" value="*" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	<location path="shared">
		<system.webServer>
			<handlers>
				<clear />
				<add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
			</handlers>
		</system.webServer>
	</location>
</configuration>
