body,html{
	height:100%;
	margin:auto;
	max-width:1200px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#ElementContent{
	flex-basis:680px;
	border:solid 1px red;
}
#ElementIndex {
	border:solid 1px gray;
	overflow:auto;
	flex-basis:300px;
}
#ElementIndex ul {
	list-style:none;
	padding-left:10px;

}
#ElementInfo{
	border:solid 1px gray;
	overflow:auto;
	flex-basis:300px;
}





h1,h2,h3,h4,h5,h6,h7,h8 {
	margin-bottom:0;
}




.docpage {
    background:white;
}

    .docpage a:hover {
        text-decoration: underline;
    }

    .docpage a::before:hover {
        text-decoration: none !important;
    }

    .docpage a:not(:hover) {
        text-decoration: none;
    }

    .docpage .col.navtree {
        position: fixed;
        margin: auto;
        padding-left: 20px;
        top: 100px;
        bottom: 0;
        left: 0;
        width: 400px;
        overflow: auto;
        line-height: 30px;
    }

.navtree ul {
    padding-left: 10px;
}

.navtree [open]::before {
    display: inline-block;
    position: absolute;
    left: -20px;
    content: '>';
}
.navtree [open="1"]::before {
	transform:rotate(90deg);

}

.docpage .col.docindex {
    position: fixed;
    margin: auto;
    top: 100px;
    bottom: 0;
    right: 0;
    width: 200px;
    overflow: auto;
}

.docpage .col.aco {
    padding-top: 100px;
    padding-left: 420px;
    padding-right: 220px;
}

    .docpage .col.aco a.offTop {
        display: block;
        position: relative;
        top: -100px;
        visibility: hidden;
    }

    h2, .docpage .col.aco > div {
        border-top: solid 1px #ccc;
        margin: 10px 0;
        padding: 10px 0;
    }

        .docpage .col.aco > div > :first-child {
            flex-basis: 400px;
        }

.docpage .ofClass::before {
    content: ':';
    display:inline-block;
    margin: 0 5px;
}

.docpage ofClass:hover::before {
    text-decoration: none !important;
}

code {
    border: solid 1px #ccc;
    padding: 10px;
    background-color: lightcyan;
    overflow: auto;
    display: block;
		white-space: pre;

}

[open="0"] + ul {
    display: none;
}
.row.reverse {
	flex-direction:row-reverse;
	    margin-right: auto;
		}
.row.reverse a:not(:last-child)::before {content:".";text-decoration:none !important}

.document.fixed{
	background:white;position:fixed;top:0;bottom:0;left:0;right:0;margin:auto;color:black;
}
